.container1{
	background-color: purple;
}
.container2{
	background-color: skyblue;
	width: 350px;
	padding: 10px;
	margin: auto;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
	border: 15px dotted darkblue;
}
#submit{
	background-color: darkred;
	color: white;
}
body{
	background-image: url(https://img.freepik.com/free-photo/beautiful-aerial-shot-los-angeles-night_181624-202.jpg?t=st=1726028788~exp=1726032388~hmac=ffc7e1c7e0d34c7660fa7412e0f6daa834978d41d19326e89d3d43affef2e565&w=996);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
} 