h1{
			text-align: center;
			font-size: 50px;
			background-color: mediumvioletred;
		}
		p{
			text-align: center;
		}
		#pr1{
			text-align: center;
			font-size: 27px;
		}
		#pr2{
			text-align: left;
			font-size: 20px;
		}
		#pr3{
			font-size: 17px;
		}
		img{
			margin: auto;
			display: inline-block;

		}
		.container{
			display: flex;
			column-gap: 50px;
			justify-content: center;
		}

		a {
			text-align: center;
		}
		body {
			background-color: pink;
		}